@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --pink:#D50078;
  --light-pink:#F3C9EA;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1rem rgba(244,143,195,0.3);
  --border:.1rem solid rgba(0,0,0,.1);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: var(--box-shadow);
}

.nav
.logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

.nav
.logo span {
  color: var(--pink);
}

.nav
.nav-links a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.nav
.nav-links a:hover {
  color: var(--pink);
  border-bottom: 1px solid #D50078;
  box-shadow: var(--box-shadow);
}

.nav
.btn {
  margin-top: 0;
}

.nav #user-btn i {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
  display: none;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
  display: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: var(--light-pink);
  color: var(--black);
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--pink);
  color: white;
}

.home {
  padding-top: 10rem;
  text-align: center;
  overflow-x: hidden;
}

.home img {
  width: 100%;
  margin: 1rem 0;
}

.icons-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  background: #F4EDF2;
}

.icons-container .icons:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.icons-container
.icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.icons-container
.icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background: #eee;
  color: var(--black);
  text-align: center;
}

.icons-container
.icons
.content h3 {
  color: var(--pink);
  font-size: 2.5rem;
}

.icons-container
.icons
.content p {
  color: var(--light-color);
  font-size: 1.5rem;
}


@media (max-width: 991px) {
  html {
    font-size: 55%; 
  }

  section {
    padding: 2rem;
  }
}


