* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

}
 
.divuri {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
}