<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="../css/login-page-style.css">
  <link rel="stylesheet" href="../css/navbar-style.css">
</head>
<body>
  <div class="login-container">
    <!-- <span class="fas fa-times" id="close-login-form"></span> -->
    <form action="">
      <h3>user login</h3>
      <input type="email" placeholder="email" class="box-login">
      <input type="password" placeholder="password" class="box-login">
      <p>forget your password <a href="#">click here</a></p>
      <input type="submit" value="login now" class="btn">
      <p>or login with</p>
      <div class="buttons">
        <a href="#" class="btn">google</a>
        <a href="#" class="btn">facebook</a>
      </div>
      <p>dont't have an acoount <a href="#">create one</a></p>
    </form>
    <button type="button" class=" cancel-btn" onclick="location.href='/components/navbar.html'"><i class="fa fa-times"></i></button>
  </div>
  <script src="../js/script.js"></script>
</body>
</html>
